{% extends '_layout.html' %}

{% block content %}

<p class="lead">MLA citation for <a href="https://www.youtube.com/watch?v={{ id }}">this</a> video from {{ name }}.</p>

<hr>

<p>
    {{ name }}.
    "{{ title }}."
    Online video clip.
    YouTube.
    <i>YouTube</i>,
    {{ date }}.
    Web.
    {{ todays_date }}.
</p>

<hr>

<p><iframe width="1280" height="720" src="//www.youtube.com/embed/{{ id }}?rel=0" frameborder="0" allowfullscreen></iframe></p>
{% endblock %}

{% block scripts %}
<script>$('.container').fitVids();</script>
{% endblock %}
